services:
  - type: web
    name: tms-backend
    env: node
    region: oregon
    plan: free
    buildCommand: cd backend && npm install
    startCommand: node backend/index.js
    envVars:
      - key: PORT
        value: 3000
      - key: NODE_ENV
        value: production
